.App {
  text-align: center;
}

.status-bar {
  width: 100%;
  display: flex;
  border-bottom: 1px solid white;
}

.AppHeader {
  position: fixed;
  top: 0;
  z-index: 10;
 
}

.content {
  margin-top: 96px;
}

rux-status {
  padding-right: 10px;
  padding-top: 2px;
}
