.App {
  text-align: center;
}

rux-global-status-bar {
  width: 100%;
  display: flex;
  border-bottom: 1px solid white;
}

.AppHeader {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
 
}

.content {
  margin-top: 96px;
}

rux-status {
  padding-right: 10px;
  padding-top: 2px;
}

rux-table-header-cell {
 margin-top: auto;
}

rux-table-header-cell rux-icon {
  cursor: pointer;
}
rux-icon {
  transition: all 200ms ease-in-out;
}
.arrow__sort-up {
  transform: rotate(180deg);
}